* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;
  height: 900px;
  display: flex;
}

.container-left {
  padding: 0px 50px 0px 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 132px;
  height: 851.999px;
  border-radius: 24px;
  background: var(--Black, #000);
  display: flex;
  align-items: center;
  padding: 30px 0;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-center {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.sidebar-center img {
  cursor: pointer;
  margin-bottom: 64px;
}

.container-center {
  padding: 50px 0px 0px 20px;
  flex: 3;
}

.container-center-box {
  border-radius: 14px;
  background: var(--Grey, #f5f5f7);
  display: flex;
  justify-content: center;
  height: 160px;
}

.container-center-box-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}

.container-center-box-right {
  flex: 2;
  display: flex;
  justify-content: center;
}

.container-center-box-right img {
  width: 175px;
  height: 191px;
  margin-top: -30px;
}

.container-center-box-2 {
  margin-top: 20px;
  display: flex;
  height: 100px;
}

.container-center-box-2-left {
  flex: 3;
  height: 80px;
  background-color: var(--Grey, #f5f5f7);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
}

.img-wrapper {
  background-color: white;
  height: 64px;
  width: 64px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center-box-2-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-style {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--Black, #000);
  color: white;
}

.container-center-box-2-h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-center-box-2 button {
  color: white;
  border-radius: 10px;
}


.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
  background-color: var(--Grey, #f5f5f7);
  height: 80px;
  border-radius: 14px;
  margin-bottom: 16px;
}

.info-wrap {
  display: flex;
}

.info-wrap p {
  margin-left: 8px;
}

.m111-1 {
  display: flex;
}

.m111-1m {
  display: flex;
}

.container-right {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-div {
  display: flex;
  flex-direction: column;
  margin: -50px 0px 0px 0px;
}

.container-right-input-box {
  display: flex;
  width: 449.59px;
  padding: 20px 0px 20px 0px;
}

.container-right-input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #F5F5F7;
  border: none;
}

.container-right-notification {
  width: 30.63px;
  height: 36px;

}

.container-right-Profile {
  width: 55.19px;
  height: 40px;
  border-radius: 8px;

}

.container-right-box {
  display: flex;
  align-items: center;
  width: 449.59px;
  margin: 0px 0px 0px 0px;
  justify-content: space-between;
}

.container-right-box-left {
  border-radius: 14px;
  width: 208px;
  height: 106.05px;
  display: flex;
  padding: 0px 0px 0px 0px;
  background-color: #F5F5F7;
  justify-content: center;
  align-items: center;
}

.container-right-box-left-p {
  display: flex;
  flex-direction: column;
}

.container-right-box-right {
  border-radius: 14px;
  width: 208px;
  height: 106.05px;
  display: flex;
  background-color: #F5F5F7;
  justify-content: center;
  align-items: center;
}

.container-right-center-box {
  margin: 30px 0px 0px 0px;
}

.container-right-center-h1 {
  display: flex;
  flex-direction: column;
}

.container-right-center-h2 {
  display: flex;
}

.container-right-center-rasm61 {
  width: 449.59px;
  height: 266.15px;
}

.container-right-center-end {
  background-color: #F5F5F7;
  width: 449.59px;
  height: 193px;
  border-radius: 14px;
  display: flex;
  margin: 0px 0px 0px 0px;
  border: 1px solid black;
}

.container-right-center-end-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container-right-center-end-rasm {
  width: 125px;
  height: 125px;
  flex: 1;
  display: flex;
  justify-content: center;
}